<!DOCTYPE html>
<html>

<%= render('_head.html.erb') %>

<body>
<div>
<div>
  <h1>I'm died...</h1>
</div>

<form action="/" method="get">
  <div class="mb-3">
  <label for="New game">New game</label>
  <button type="submit" class="btn btn-primary">New game</button>
  </div>
</form>
</div>

</body>
</html>