<!DOCTYPE html>
<html>
<head>
  <title>Tamagotchi</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%#= csrf_meta_tags %>
  <%#= csp_meta_tag %>

  <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%#= javascript_importmap_tags %>
</head>

<body>
<div>
  <h1>I'm died...</h1>
</div>

<form action="/" method="get">
  <label for="New game">New game</label>
  <button type="submit">New game</button>
</form>

</body>
</html>