<!DOCTYPE html>
<html>

<%= render('_head.html.erb') %>

<body>
<div>
<div>
  <% @message.uniq.each do |e| %>
    <h1><%= e %></h1>
  <% end %>
</div>
<form action="/new_act" method="get">
  <div class="mb-3">
  <label for="act">Your acts</label>
  <input list="acts" name="act" id="act">
  <datalist id="acts" >
    <option value="eat">
    <option value="drink">
    <option value="sleep">
    <option value="walk">
    <option value="eat vegetables">
    <option value="play">
    <option value="do exercise">
    <option value="how old are you?">
    <option value="take medication">
    <option value="eat fast food">
    <option value="read book">
  </datalist>
  <input type="submit" class="btn btn-primary">
  </div>
</form>
</div>

</body>
</html>