<!DOCTYPE html>
<html>

<%= render('_head.html.erb') %>

<body class="text-center">
  <div class="form-signin w-100 m-auto">
    <div class="px-1">
    <form action="/new_pet" method="get">
      <div class="mb-3" style="min-height: 200px">
        <label for="create_name">Please enter your pets name</label>
        <input name="name">
        <input class="btn btn-primary" type="submit">
      </div>
    </form>
    </div>
  </div>
</body>
</html>