<main class="col-sm-10">
  <%= turbo_stream_from "products" %>
  <div class="album py-5 bg-light">
    <div class="container">
      <div id="products" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @products.each do |product| %>
          <%#= turbo_frame_tag dom_id(product) do %>
            <%= render partial: 'products/product', locals: { product: product } %>
          <%# end %>
        <% end %>
      </div>
    </div>
  </div>
</main>
